
<h2>as a student</h2>
<% @meetings_as_student.each do |teacher| %>
  <% teacher.slots.each do |slot| %>
     <p><%= slot.start_format %> <br>with <%= @user.name %></p>
  <% end %>
<% end %>

<h1>As a teacher</h1>

<% @meetings_as_teacher.each do |student| %>
  <% student.slots.each do |slot| %>
     <p><%= slot.start_format_2 %><br>with <%= @user.name %></p>
  <% end %>
<% end %>









<%#= week_calendar events: @meetings_as_teacher do |date, meetings_as_teacher| %>
<%#= date.day %>

    <%# meetings_as_teacher.slots.each do |slot| %>
      <%#= slot.start_format_2 %>
    <%# end %>
<%# end %>

