
<h2>as a student</h2>
<% @meetings_as_student.each do |meeting| %>
     <p><%= meeting.slot.start_format %> <br>with <%= meeting.slot.teacher.name %></p>
  <% end %>


<h1>As a teacher</h1>

<% @meetings_as_teacher.each do |meeting| %>
     <p><%= meeting.slot.start_format %> <br>with <%= meeting.student.name %></p>
  <% end %>

