<h1>Congratulations</h1>
<br>
<br>
<br>
<br>
<p>You just booked a talk with <%= @meeting.slot.teacher.name %> at <%= @meeting.slot.start_format %></p>
<p>You can see this information on your <%= link_to "user profile",  user_path(current_user) %></p>
