// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// talktoo color scheme varaibles
$darkblue: #3237BE;
$lightblue: #C8FFE1;
$black: #383838;
$gradient: linear-gradient(to right bottom, #3237be, #007ce6, #00aee4, #4adad7, #c8ffe1);
$gradient2: linear-gradient(to left top, #00aee4, #4adad7);

// Background semi-transparent gradient on home banner
$bgtransgradient: linear-gradient(to right bottom, rgba(50,55,190,0.7), rgba(0,124,230,.7), rgba(0,174,228,.7), rgba(74,218,215,.7), rgba(200,255,225,.7));
