// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// talktoo color scheme varaibles
$darkblue: #3237BE;
$lightblue: #C8FFE1;
$gradient: linear-gradient(to left top, #3237be, #007ce6, #00aee4, #4adad7, #c8ffe1);
