.bg-home {
  position:absolute;
  // left:0;
  width:100%;
  // height:100%;
  background: linear-gradient(to right bottom, rgba(50,55,190,0.9), rgba(0,124,230,.7), rgba(0,174,228,.7), rgba(74,218,215,.7), rgba(200,255,225,.7)), url(https://images.unsplash.com/photo-1517940001917-1c03b8b1b85b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1039&q=80);
  background-size: cover;
  // background-repeat: no-repeat;
  // background-size:cover;
  // background-position: center;
  // padding: 100px;
  height: 750px;
}

.space-home {
  width:100%;
  height:800px;
}

.bg-payment1 {
  position:absolute;
  width:100%;
  background: linear-gradient(to right bottom, rgba(50,55,190,0.7), rgba(0,124,230,.7), rgba(0,174,228,.7), rgba(74,218,215,.7)), url(https://images.unsplash.com/photo-1461988625982-7e46a099bf4f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  background-size: cover;
  height: 750px;
}

.bg-payment2 {
  position:absolute;
  width:100%;
  background: linear-gradient(to right bottom, rgba(50,55,190,0.7), rgba(0,124,230,.7), rgba(0,174,228,.7), rgba(74,218,215,.7)), url(https://images.unsplash.com/photo-1485217988980-11786ced9454?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  background-size: cover;
  height: 750px;
}

.bg-payment3 {
  position:absolute;
  width:100%;
  background: linear-gradient(to right bottom, rgba(50,55,190,0.7), rgba(0,124,230,.7), rgba(0,174,228,.7), rgba(74,218,215,.7)), url(https://images.unsplash.com/photo-1499914567823-c240485cb7d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  background-size: cover;
  height: 750px;
}


.parent-show{
  display: flex;
  justify-content: center;
}

.bg-index{
  background-color: #ffffff;
  height:300px;
  margin-left:0;
  width:100%;
  top:0;
  padding: 60px 42px;
  text-align: center;
  color:#777777;
}

#Calendar {
  flex-grow: 1;
}

.bg-profile {
  position: fixed;
  background:$gradient;
  width:100%;
  height:100%;
  padding-top: 30px;
}

.bg-profile-float {
  background:$gradient;
  width:30%;
  flex-shrink: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  // height: 100vh;

  max-height: 100vh;
  min-height: calc(100vh - 62px);

  position: sticky;
  top: 0px;
  z-index: 5;
}

.bg-slant{
  position:absolute;
  bottom:0;
  width: 100%;
  height:0;
  border-top:4vw solid transparent;
  border-bottom: 0;
  border-left:100vw solid #F4F4F4;
}
