.btn-talk {
  background-color:#00C5E0;
  padding:10px;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.btn-talk:hover {
  text-decoration: none;
  color:#ffffff;
  opacity: 0.9;
  transition: 0.3s;
}
