.flip-info-content {
  display: flex;
  flex-flow: wrap;
  margin-bottom: 20px;
}

.boldname {
  font-weight: 500;
}

.talkers {
  font-size: 30px;
  margin-bottom: 30px;
}


.flip-info-card {
  align-content:space-between;
  cursor: pointer;
  height: 300px;
  min-width: 400px;
  margin:16px;
}

.flip-info-card img{
  margin-top: 10px;
  margin-bottom:10px;
  width: 100px;
  height: 100px;
}


.flip-front,
.flip-back {
  text-align: center;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
  border-radius: 4px;
}

.flip-front {
  color: grey;
  overflow: hidden;
  background-color:#f8f8ff;
  border-right:4px solid #167FFB;
  width:400px;
  height:300px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin:20px;
}

.flip-front p {
  color: #030303;
}

.flip-front:before {
  position: absolute;
  opacity: .25;
}

.flip-info-card:hover .flip-front {
  transform: rotateY(180deg);
}

.flip-info-card:nth-child(even):hover .flip-front {
  transform: rotateY(-180deg);
}

.flip-back {
  background-color:#f8f8ff;
  border-left: 4px solid #167FFB;
  transform: rotateY(-180deg);
  text-align:center;
  width:400px;
  height:300px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.flip-info-card:hover .flip-back {
  transform: rotateY(0deg);
}

.flip-info-card:nth-child(even) .flip-back {
  transform: rotateY(180deg);
}

.flip-info-card:nth-child(even) .flip-back .button {
  background: linear-gradient(135deg, #e61a80, #e61a3c);
}
.flip-info-card:nth-child(even) .flip-back .button:before {
  box-shadow: 0 0 10px 10px rgba(230, 26, 60, 0.25);
  background-color: rgba(230, 26, 60, 0.25);
}
.flip-info-card:nth-child(even):hover .flip-back {
  transform: rotateY(0deg);
}

.container-profile {
  width:100%;
  padding:0;
}
