.flip-info-content {
  display: flex;
  flex-flow: wrap;
  margin-bottom: 20px;
  position:relative;
}

.boldname {
  font-weight: 500;
}

.talkers {
  font-size: 30px;
  margin-bottom: 30px;
}


.flip-info-card {
  align-content:space-between;
  cursor: pointer;
  min-height: 450px;
  width: 100%;
}

.flip-info-card img{
  margin-top: 20px;
  margin-bottom:8px;
  width: 120px;
  height: 120px;
}


.flip-front,
.flip-back {
  text-align: center;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
  border-radius: 4px;
  color:#777777;
}

.flip-front {
  color: #333333;
  overflow: hidden;
  background-color:#f8f8ff;
  // border-right:4px solid #00aee4;
  height:450px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
}

.flip-front p {
  // color: #030303;
  color:#777777;
  line-height: 12px;
  text-align:center;

}

.flip-front:before {
  position: absolute;
  opacity: .25;
}

.contain-users{
  padding:20px;
}

.flip-info-card:hover .flip-front {
  transform: rotateY(180deg);
}

.flip-info-card:nth-child(even):hover .flip-front {
  transform: rotateY(-180deg);
}

.flip-back {
  background-color:#f8f8ff;
  // border-left: 4px solid #167FFB;
  transform: rotateY(-180deg);
  text-align:center;
  height:450px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color:#777777;
  padding-top:120px;
}

.flip-back p {
  text-align:center;
  color:#777777;
  padding-top:120px;
}

.flip-back h6 {
  text-align:center;
  padding-top:10px;
}

.flip-info-card:hover .flip-back {
  transform: rotateY(0deg);
}

.flip-info-card:nth-child(even) .flip-back {
  transform: rotateY(180deg);
}

.flip-info-card:nth-child(even) .flip-back .button {
  background: linear-gradient(135deg, #e61a80, #e61a3c);
}
.flip-info-card:nth-child(even) .flip-back .button:before {
  box-shadow: 0 0 10px 10px rgba(230, 26, 60, 0.25);
  background-color: rgba(230, 26, 60, 0.25);
}
.flip-info-card:nth-child(even):hover .flip-back {
  transform: rotateY(0deg);
}

.container-profile {
  width:100%;
  padding:0;
}

.user-info {
  padding-bottom:16px;
  margin-bottom:10px;
}

.user-info-tags {
  padding-top:26px;
   margin-bottom:20px;
}
