.content-block {
  background-color: #ffffffbd;
  margin: 100px auto;
  max-width: 800px;
  border-radius: 4px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  border: 1px solid rgb(230,230,230);
  text-decoration: none;
}

.content-block h2 {
  color: #4adad7;
}


.content-block img {
  width: 100px;
  height:100px;
}
