*, *:before, *:after {
  box-sizing: border-box;
}


.info-content {
  padding-top: 100px;
  margin-top:100px;
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.info-card img{
  margin-top: 30px;
  margin-bottom:30px;
  width: 100px;
  height: 100px;
}

.info-card {
  color: inherit;
  cursor: pointer;
  width: calc(33% - 2rem);
  min-width: calc(33% - 2rem);
  height: 400px;
  min-height: 400px;
  perspective: 1000px;
  margin: 1rem;
  position: relative;
  border-radius: 4px;

}
@media screen and (max-width: 800px) {
  .info-card {
    width: calc(50% - 2rem);
  }
}
@media screen and (max-width: 500px) {
  .info-card {
    width: 100%;
  }
}


.front,
.back {
  text-align: center;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
}

.front {
  background-size: cover;
  // background: $gradient2;
  padding: 2rem;
  font-size: 1.618rem;
  font-weight: 500;
  color: #fff;
  overflow: hidden;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  width:400px;
  height:300px;
}

.info-card p {
  font-size: 26px;
}

.info-card-1 .front {
  background-color: #4adad7;
  color:white;
  text-align:center;
  padding-top:150px;
}

.info-card-2 .front {
  background-color: #00aee4;
  color:white;
  padding-top:150px;
}

.info-card-3 .front {
  background-color: #007ce6;
  color:white;
  padding-top:150px;
}

.info-card-1 .back {
  background-color: #4adad7;
  color:white;
  text-align:center;
  padding-top:120px;
}

.info-card-2 .back {
  background-color: #00aee4;
  color:white;
  padding-top:120px;
}

.info-card-3 .back {
  background-color: #007ce6;
  color:white;
  padding-top:120px;
}


.front:before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .25;
  z-index: -1;
}
.info-card:hover .front {
  transform: rotateY(180deg);
}
.info-card:nth-child(even):hover .front {
  transform: rotateY(-180deg);
}

.back {
  background: $gradient2;
  transform: rotateY(-180deg);
  padding-top:120px;
  color: #ffffff;
  padding: 2rem;
  width:400px;
  height:300px;
  text-align:center;
}
.back .button {
  background: linear-gradient(135deg, #1a9be6, #1a57e6);
}
.back .button:before {
  box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
  background-color: rgba(26, 87, 230, 0.25);
}
.info-card:hover .back {
  transform: rotateY(0deg);
}
.info-card:nth-child(even) .back {
  transform: rotateY(180deg);
}
.info-card:nth-child(even) .back .button {
  background: linear-gradient(135deg, #e61a80, #e61a3c);
}
.info-card:nth-child(even) .back .button:before {
  box-shadow: 0 0 10px 10px rgba(230, 26, 60, 0.25);
  background-color: rgba(230, 26, 60, 0.25);
}
.info-card:nth-child(even):hover .back {
  transform: rotateY(0deg);
}


// .button {
//   transform: translateZ(40px);
//   cursor: pointer;
//   -webkit-backface-visibility: hidden;
//   backface-visibility: hidden;
//   font-weight: bold;
//   color: #fff;
//   padding: .5em 1em;
//   border-radius: 100px;
//   font: inherit;
//   border: none;
//   position: relative;
//   transform-style: preserve-3d;
//   transition: 300ms ease;
// }
// .button:before {
//   transition: 300ms ease;
//   position: absolute;
//   display: block;
//   content: '';
//   transform: translateZ(-40px);
//   -webkit-backface-visibility: hidden;
//   backface-visibility: hidden;
//   height: calc(100% - 20px);
//   width: calc(100% - 20px);
//   border-radius: 100px;
//   left: 10px;
//   top: 16px;
// }
// .button:hover {
//   transform: translateZ(55px);
// }
// .button:hover:before {
//   transform: translateZ(-55px);
// }
// .button:active {
//   transform: translateZ(20px);
// }
// .button:active:before {
//   transform: translateZ(-20px);
//   top: 12px;
// }


