.navbar-talktoo {
  justify-content: space-between;
  background: #ffffff;
  padding-left: 25px;
  padding-right: 25px;
}

.navbar-talktoo .navbar-collapse {
  flex-grow: 0;
}

.navbar-talktoo .navbar-brand img {
  width: 50px;
}

.navbar-logo {
  font-size: 30px;
  margin-left: 2px;
}

.fa-video {
  color: #00C5E0;
  width: 30px;
}

