.navbar-talktoo {
  justify-content: space-between;
  background: #fffffff2;
  padding-left: 25px;
  padding-right: 25px;
  position: sticky;
  top: 0;
  margin-bottom: 10px;
}

.navbar-talktoo .navbar-collapse {
  flex-grow: 0;
}

.navbar-talktoo .navbar-brand img {
  width: 50px;
}

.navbar-logo {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-left: 2px;
  color: $darkblue;
}

.fa-video {
  color: $darkblue;
  width: 30px;
}

.nav-item {

}
