*, *:before, *:after {
  box-sizing: border-box;
}

.content {
  display: flex;
}

.profile-cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.profile-cards a {
  color: #00C5E0;
  text-decoration: none;
}


.cards {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
}


.cards img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile-cards img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}



