.video {
  // background: $gradient;
  height:100%;
  color: black;
  padding-top:0;
}

.video-show {
  margin-top:120px;
  padding-top:120px;
  padding:30px;
  margin:10px;
  background-color: green;
  // margin-left: 15px;
}


.video img {
  width:120px;
  height:120px;
  margin-bottom: 20px;
}

.fix-profile-video {
  position: sticky;
  margin-top: 250px;
}
