*, *:before, *:after {
  box-sizing: border-box;
}

.user-content {
  display: grid;
}

.user-cards {
  flex-grow: 1;
  padding:8px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding: 16px;
}

.user-cards a {
  color: #00C5E0;
  text-decoration: none;
}


.u-cards {
  border-radius: 4px;
  padding:16px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
}


.u-cards img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.u-cards img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}
