<div class="justify-content-center">
  <%= simple_form_for([ user, review ], remote: true) do |form| %>
    <div class="justify-content-center">
      <p class="review"><%= form.input :comment, as: :text %></p>
      <p class="rating text-center"><%= form.input :rating, collection: (1..5).to_a, label: "Rate your experience" %></p>
      <%= form.submit "Add your review", class: "btn btn-talk p-4 m-4" %>
    </div>
  <% end %>
</div>



