<br>
<div class="container">
  <div class="content-block">
    <%= simple_form_for([ user, review ], remote: true) do |form| %>
    <p>Comments: <%= form.input :comment, as: :text %></p>
    <p>Rating: <%= form.input :rating, as: :integer %></p>

      <%= form.submit "Add your review", class: "btn btn-success" %>
    <% end %>
</div>
</div>
